# first list the packages you wish to download from PyPI
teachbooks # depends on jupyter-book
jupyterbook-patches==1.4.2
sphinx-image-inverter
download_link_replacer

# now list the packages (and the respective url) you wish to download from the GitLab package registry
git+https://github.com/TeachBooks/Sphinx-Thebe
